.leaflet-container {
    height: 70vh;
    width: 600px;
}

@media screen and (max-width : 576px) {
    .leaflet-container {
        margin-left: 10px;
        height: 40vh;
        width: 300px;
    }

}